
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Learning AngularJS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div ui-view>
        
       

    </div>

    @Scripts.Render("~/bundles/scripts")
    
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/myApp")*@
    
</body>

</html>